version: 2
jobs:
  build:
    branches:
      ignore:
        - gh-pages
    docker:
      - image: node:lts

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-

      - run:
          name: Install Dependencies
          command: yarn --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      - run:
          name: Run build
          command: yarn build

      - run:
          name: "Vue2"
          command: yarn test:vue2

      - run:
          name: "Run Jest and Collect Coverage Reports"
          command: yarn test --coverage --ci --runInBand --reporters=default --reporters=jest-junit

      - run:
          name: "Publish coverage to coveralls"
          command: yarn coveralls < coverage/lcov.info

      - store_test_results:
          path: test-results

      - store_artifacts:
          path: dist
